 <div class="ui dropdown" id="shoppingCart">
     <i class="shop icon"></i>
     Shopping Cart <i class="dropdown icon"></i>
     <div class="menu">
         <div class="item">@ViewData["TitleM"]</div>
     </div>
 </div>