<div class="ui container">
    <div class="ui cards">
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>

        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
        <div class="ui card ml-1" style="width: 200px;">
            <div class="image">
                <img src="~/img/movieicon.png" class="visible content" style="width: 195px; height: 177px;">
            </div>
            <div class="content">
                <a class="header">Team Fu &amp; Hess</a>
                <div class="meta">
                    <span class="date">Created in Sep 2014</span>
                </div>
            </div>
            <div class="extra content">
                Rating:
                <div class="ui yellow rating" data-rating="0" data-max-rating="5"></div>
            </div>
        </div>
    </div>
</div>