@model movies.ViewModels.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("Carousel", @Model.CarouselMovies.TakeLast(20))
<div class="ui container">
    <div class="ui stackable grid container-">
        <div class="twelve wide column">
            @await Html.PartialAsync("Movies", @Model.ListMovies)
            @await Html.PartialAsync("PaginationMenu", @Model.PaginationModel)
        </div>
        <div class="four wide column">
            @await Html.PartialAsync("RecentComments", @Model.LastComments.TakeLast(5))
        </div>
    </div>
</div>